body {
    padding-top: 50px;
    background-color: rgb(251,240,228);
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

@font-face { font-family: Perfect fonts; src: url('font/Perfect_fonts_CC.ttf'); }

.title {
    font-family: "Perfect fonts", cursive;
}

#menu_top {
    font-family: "Perfect fonts", cursive;
}

#show-title {
    font-family: "Perfect fonts", cursive;
}

h2 {
    font-size: 25px;
    margin-top: -15px;
    margin-bottom: -5px;
}

#canvas {
    position: relative;
    margin-top: -200px;
    border-style: dotted;
    border-color: dimgray;
    background-color: white;
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    margin-bottom: 50px;
}

#main-logo {
    width: 150px;
}

#crayon {
    font-family: "Perfect fonts", cursive;
    font-size: 18px;
    border-color: dimgray;
    background-color: white;
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    width: 107px;
    height: 28px;
    background: url(img/slim-tools2.gif);
    background-position: 74px -86px;
    background-repeat: no-repeat;
    background-color: rgb(243,99,140);
}

#ligne {
    font-family: "Perfect fonts", cursive;
    font-size: 18px;
    border-color: dimgray;
    background-color: white;
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    width: 107px;
    height: 28px;
    background: url(img/slim-tools2.gif);
    background-position: 71px -572px;
    background-repeat: no-repeat;
    background-color: rgb(254,237,153);
    margin-top: 20px;
}

#rectangle {
    font-family: "Perfect fonts", cursive;
    font-size: 18px;
    border-color: dimgray;
    background-color: white;
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    width: 107px;
    height: 28px;
    background: url(img/slim-tools2.gif);
    background-position: 75px -603px;
    background-repeat: no-repeat;
    background-color: rgb(211, 172, 254);
    margin-top: 20px;
}

#cercle {
    font-family: "Perfect fonts", cursive;
    font-size: 18px;
    border-color: dimgray;
    background-color: white;
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    width: 107px;
    height: 28px;
    background: url(img/slim-tools2.gif);
    background-position: 75px -626px;
    background-repeat: no-repeat;
    background-color: rgb(102, 224, 254);
    margin-top: 20px;
}

#gomme {
    font-family: "Perfect fonts", cursive;
    font-size: 18px;
    border-color: dimgray;
    background-color: white;
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    width: 107px;
    height: 28px;
    background: url(img/slim-tools2.gif);
    background-position: 75px -332px;
    background-repeat: no-repeat;
    background-color: rgb(122, 254, 170);
    margin-top: 20px;
}

.color-buttons {
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 0.5px;
}

#color-block {
    display: table;
    height: 220px;
    background: white;
    width: 90px;
    position: relative;
    margin-top: -430px;
    margin-left: 5px;
    border-radius: 15px;
}

.color-block {
    width: 72px;
    /*margin: 0;*/
    display: flex;
    margin-left: 24px;
    margin-top: 10px;

}

.color-buttons {
    margin-right: 10px;
    border-radius: 7px;
    -moz-box-shadow:    1px 1px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px #ccc;
    box-shadow:         1px 1px 2px #ccc;
}

#black {
    background-color: black;
}

#grey {
    background-color: grey;
}

#red {
    background-color: red;
}

#orange {
    background-color: #ffc539;
}

#yellow {
    background-color: yellow;
}

#lightgreen {
    background-color: lightgreen;
}

#lightblue {
    background-color: lightblue;
}

#lightpurple {
    background-color: mediumpurple;
}

#pink {
    background-color: #ff6dc3;
}

#darkblue {
    background-color: #38478b;
}

#darkgreen {
    background-color: #26642d;
}

#darkpurple {
    background-color: #a539e2;
}